services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"

  backend:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/couturelafleur
      - GMAIL_USER=couturelafleur19@gmail.com
      - GMAIL_APP_PASSWORD=nyfsbzsrpewqmyug
      - PORT=5000
      - NODE_ENV=production
